<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0" 
        id="com.mepwebs.pelladeocio" 
        version="1.0.0">
    <name>Pella de Ocio</name>
    <description>
        App Pella de Ocio
    </description>
    <author email="soporte@pelladeocio.com" href="http://pelladeocio.com">
        Mepwebs
    </author>
    <content src="index.html" />
    
<!--    <preference name="phonegap-version" value="cli-5.2.0" />-->
    <preference name="phonegap-version" value="cli-6.1.0" />
    
<!--    <preference name="useBrowserHistory" value="true"/>-->
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
<!--    <preference name="ios-statusbarstyle" value="black-opaque" />-->
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    

    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="13" />
<!--    <preference name="android-minSdkVersion" value="10" />-->
    <preference name="android-installLocation" value="auto" />
    
    
    
    <!-- PLUGINS -->
    
    
    <plugin name="cordova-plugin-console" />
    
    <plugin name="cordova-plugin-device" />

    <plugin name="cordova-plugin-dialogs" />
    
    
    
    <!-- SplashScreen -->
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <preference name="SplashScreen" value="splash" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <splash src="splash.png" />
    
    
    <!--<gap:plugin name="org.apache.cordova.inappbrowser" /> -->
    
    
    <!--    Compartir en RRSS   -->
    <plugin name="cordova-plugin-x-socialsharing" source="npm" />
    
    <!--    Notificaciones PUSH   -->
    <preference name="android-build-tool" value="gradle" />
<!--    <plugin name="phonegap-plugin-push" spec="1.6.2" source="npm">-->
    <plugin name="phonegap-plugin-push" source="npm">        
        <param name="SENDER_ID" value="41817165383" />
    </plugin>
    
    
    <!--    WhiteList   -->
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <allow-navigation href="*" />
    <access origin="*" />
    <!-- Permitir whatsapp -->
    <allow-intent href="whatsapp:*" />
    <access origin="whatsapp:*" launch-external="yes" />    
    
    
    <platform name="android">
        <icon qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png"/>
        <icon qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png"/>
        <icon qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png"/>
        <icon qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png"/>
        <icon qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png"/>
        <icon qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png"/>

        <splash qualifier="ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
        <splash qualifier="mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
        <splash qualifier="hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
        <splash qualifier="xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />
        
        <allow-intent href="market:*" />
    </platform>
    
    <platform name="ios">
        <icon src="res/icons/ios/icon-small.png" width="29" height="29" />
        <icon src="res/icons/ios/icon-small-2x.png" width="58" height="58" />
        <icon src="res/icons/ios/icon-40.png" width="40" height="40" />
        <icon src="res/icons/ios/icon-40-2x.png" width="80" height="80" />
        <icon src="res/icons/ios/icon-50.png" width="50" height="50" />
        <icon src="res/icons/ios/icon-50-2x.png" width="100" height="100" />
        <icon src="res/icons/ios/icon.png" width="57" height="57" />
        <icon src="res/icons/ios/icon-2x.png" width="114" height="114" />
        <icon src="res/icons/ios/icon-60.png" width="60" height="60" />
        <icon src="res/icons/ios/icon-60-2x.png" width="120" height="120" />
        <icon src="res/icons/ios/icon-60-3x.png" width="180" height="180" />
        <icon src="res/icons/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icons/ios/icon-72-2x.png" width="144" height="144" />
        <icon src="res/icons/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icons/ios/icon-76-2x.png" width="152" height="152" />

        <splash src="res/screens/ios/screen-iphone-portrait.png" width="320" height="480" />
        <splash src="res/screens/ios/screen-iphone-portrait-2x.png" width="640" height="960" />
        <splash src="res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136" />
        <splash src="res/screens/ios/screen-iphone-portrait-667h.png" width="750" height="1334" />
        <splash src="res/screens/ios/screen-iphone-portrait-736h.png" width="1242" height="2208" />
        <splash src="res/screens/ios/screen-ipad-portrait.png" width="768" height="1024" />
        <splash src="res/screens/ios/screen-ipad-portrait-2x.png" width="1536" height="2048" />

        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    <platform name="winphone" />
    <platform name="wp8" />
</widget>