@import url(http://fonts.googleapis.com/css?family=Allerta+Stencil|Oxygen|Abel);

body {
    font-size: 14px; 
    font-weight:normal; 
    line-height: 1.8; 
    font-family: 'Oxygen',Arial,Helvetica; 
/*  COLORES  background-color:#111;
    background-color:#808080;BADBEF*/
    background-color:#1F5A77;
    color: #fff;
}

/*img {border-radius: 5px;}*/

h1,h2,h3,h4,h5,h6{ font-weight:normal;padding: 0;margin: 0;color: #fff;}
h1,h2,h3{ font-family: 'Allerta Stencil',Arial,Helvetica;text-transform: uppercase;}
h4,h5,h6{ font-family: 'Abel',Arial,Helvetica; color: #1F5A77;}


h3{font-size: 1.55em; margin-top: 1.56em; margin-bottom: 1.25em; color: #fff;}
h3 span{font-size: 1.5em;}
h4{font-size: 1.5em; margin-bottom:1.25em; line-height: 1.6;}
h5{font-size: 1.4em;}

small{color: #777;font-size: 0.8em;}
p{margin-bottom: 1.56em;}
blockquote {padding: 0 1.25em; margin: 0 0 1.25em; border-left: 5px solid #aaa; font-size: 0.87em; font-style: italic; font-family: georgia;}

.spacer{padding:2em 0 0 0;}
.center{text-align: center;}
.thumbnail{ background-color:#fff;}

.overlay{z-index: 100;position: relative;}
.blockblack{background:rgba(0,0,0,0.75); border-radius: 10px; padding: 1.55em; padding-top: 0; }


/*color*/
.bgcolor{background-color: #1F5A77;} /* amarillo */
.textcolor{color: #1F5A77;}

a {color: #fff; text-decoration:none}
a:hover{color:#fff;text-decoration:none}
/*color*/

/* ********* */
/* APP MOVIL */
/* ********* */

/* header fijo */
.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    border-bottom: solid 1px #666;
    padding: 10px;
/*    COLORES background-color:#111;
    background-color:#77878F;474747*/
    background-color:#1F5A77;
}
.header-50 {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    border-bottom: solid 1px #666;
    padding: 10px;
    /*    COLORES background-color:#111;1F5A77*/
    background-color:#1F5A77;
}
/*.guiaeventos {
    position: absolute;
    top: 80px;
    bottom: 0;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.guiaeventos.eventoslocal {
    position: relative;
    top: 0;
}*/
.wrapper-absolute-80 {
    position: absolute;
    top: 80px;
    bottom: 0;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.wrapper-absolute-50 {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

/* fin header fijo */

/* estilos header */
.head_sup {
    text-align: center;
}
.head_sup img {
    vertical-align: bottom;
    margin-right: 10px;
}
.head_sup h1 {
    display: inline;
    font-size:1.4em;
}
/*.head_sup .icon {
    margin: 0;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 1.5em;
}*/

/*para que en el movil tenga ancho el icono
.icon {
    padding-right: 25px;
}*/
.head_sup .glyphicon {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 1.2em;
}
.head_sup .fa {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 1.4em;
}

.menu_drop {
    display: inline;
    text-align: right;
}
/*.menu_drop i.fa {font-size: 2em;}*/
.menu_drop .dropdown-menu .fa {font-size: 0.8em;}
a.menu_salir {
    display: inline;
}

.header .head_inf {
/*    padding-top: 5px;*/
}

.header .head_inf.favoritos {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    margin-top: 10px;
}
.selec_drop {
    display: inline;
    margin: 3px;
    margin-left: 25px;
}

.dropdown-menu {
    background-color: #1F5A77;
    border: 1px solid #256c90;
}
.dropdown-menu .divider {
    background-color: #256c90;
}
.dropdown-menu > li > a {
    color: #fff;
    font-size: 1.2em;
    line-height: 2;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #256c90;
}
/* fin estilos header */

/* HOME */
.cargando_eventos {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.eventos_cargados {display: none;}

/* Preferencias */
.prefer h5 {
    margin-top: 15px;
}

/* Favoritos */
#cargando {
    display: none;
    text-align: center;
    margin-bottom: 50px;
}
.list-group {
    color:black;
}
.sel_cat i, .sel_ciudad i {
    display: none;
}

/* campana de notificacion */
.notif.fa-bell {
    display: none;
}

.btn-pella {
  color: #fff;
  background-color: #1F5A77;
  border-color: #1F5A77;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-pella:hover,
.btn-pella:focus,
.btn-pella:active,
.btn-pella.active,
.open .dropdown-toggle.btn-pella {
  color: #fff;
  background-color: #256c90;
  border-color: #1F5A77;
}
.btn-pella:active,
.btn-pella.active,
.open .dropdown-toggle.btn-pella {
  background-image: none;
}
.btn-pella.disabled,
.btn-pella[disabled],
fieldset[disabled] .btn-pella,
.btn-pella.disabled:hover,
.btn-pella[disabled]:hover,
fieldset[disabled] .btn-pella:hover,
.btn-pella.disabled:focus,
.btn-pella[disabled]:focus,
fieldset[disabled] .btn-pella:focus,
.btn-pella.disabled:active,
.btn-pella[disabled]:active,
fieldset[disabled] .btn-pella:active,
.btn-pella.disabled.active,
.btn-pella[disabled].active,
fieldset[disabled] .btn-pella.active {
  background-color: #5195b7;
  border-color: #5195b7;
}
.btn-pella .badge {
  color: #256c90;
  background-color: #fff;
}

.link_bigmap {font-size: 1.1em; font-weight: 700; color: #1F5A77; margin-bottom: 30px;}
#eve-map-canvas {
    width:100%; 
    height:150px;
    margin-bottom: 5px;
}
#local-map-canvas {
    width:100%; 
    height:150px;
    margin-bottom: 5px;
}
#big-map-canvas {
    width:100%; 
    height:430px;
    margin-bottom: 5px;
}
/* ocultar enlaces inferiores mapa */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.gm-style-cc { display:none; }



/* ************* */
/* FIN APP MOVIL */
/* ************* */



/* home --- en INDEX */
.homeinfo { padding: 7.5em 0 1.25em 0;}
.fronttext h1 {padding: 0.1em; font-size:2.3em; line-height:1; display: inline-block; }
.fronttext p {margin:0; margin-top: 1em; background-color: rgba(0,0,0,0.7);display: inline-block;padding: 0.6em;}
.homeinfo .publi {position: relative;}
/* home  --- en INDEX */


/* guiaeventos --- en INDEX (proximos eventos), en AGENDA y en otros eventos EVENTO */
.guiaeventos h4 {
    border-bottom: 1px solid;
}
.guiaeventos .cuadro {
/*  COLORES  background-color: #222; 
    background-color: #D9EAF2;*/
    background-color: #EBF0EF;
    color: #111;
    margin: 0 0.1em 3px;
    overflow: hidden;
}
.guiaeventos .cuadro img {margin-bottom: 0.9em;}
.guiaeventos .cuadro h5 {margin: 0.5em 0; color: #111; font-weight: 600;}
.guiaeventos .cuadro p {margin: 0.6em 0; font-size: 1em; line-height: 1.2;}
.guiaeventos .cuadro .date {text-align: center; padding: 1.2em 0;
/*
    COLORES
    background-color: #111; 
    border: 1px solid #222;
    color: #aaa;
*/
    background-color:#D9EAF2;
    color: #111;
    /* para que tenga altura 100% */
    padding-bottom: 1000px; 
    margin-bottom: -997px;
}
.guiaeventos .cuadro .date span { display: block; font-size: 1.25em; line-height: 1.2;}
.guiaeventos .cuadro .date span.dia { font-size: 1.1em; padding-bottom: 0.5em; }
.guiaeventos .cuadro .date b {font-size: 1.3em;}
.guiaeventos .cuadro .date span.hora {font-size: 1.2em; line-height: 1.8;}
/*.guiaeventos .cuadro .date b{display: block;font-size: 1.5em;}
.guiaeventos .cuadro .date span{font-size: 1.25em;}*/


/* guiaeventos --- en INDEX, AGENDA y EVENTO */


/* evento-detalle --- en EVENTO */
.evento-detalle .cuadro {background-color: #EBF0EF; }
.evento-detalle .cuadro img {margin-bottom: 1em;}
.evento-detalle .cuadro h4 {color: #1F5A77; font-size: 2em; margin-bottom: 0.5em;}
.evento-detalle .cuadro p {margin: 0.6em 0; font-size: 1.12em; line-height: 1; }
.evento-detalle .cuadro .datos-evento p {text-align: right;}
.evento-detalle .cuadro .descr-evento { margin: 1.2em 0; text-align: justify; font-size: 0.9em;}
.evento-detalle .cuadro .descr-local { margin-top: 0;}
.evento-detalle .cuadro .descr-evento p {font-size: 1.1em; line-height: 1.4; text-align: justify;}
.evento-detalle .cuadro .descr-evento p.link_web {margin: 1.3em auto; color: #1F5A77; font-size: 1.1em;}
.evento-detalle .cuadro .date {text-align: center; color: #111; padding: 0.5em 0; margin-bottom: 1.5em;}
.evento-detalle .cuadro .date span { font-size: 1.25em; line-height: 1.2;}
.evento-detalle .cuadro .date span.dia { font-size: 1.25em; padding-bottom: 0.5em; }
.evento-detalle .cuadro .date b {font-size: 1.5em;}
.evento-detalle .cuadro .date span.hora {/*display: block;*/ font-size: 1.5em; line-height: 1.8;}
.evento-detalle .cuadro .local { font-size: 1.5em; font-weight: bold; }
.evento-detalle .cuadro .ciudad { font-size: 1.5em; margin-left: 1em;}
.evento-detalle .cuadro .local_link {color: #222;}
.evento-detalle .cuadro .local_link .local { font-size: 1.2em; font-weight: bold; color: #111;}
.evento-detalle .cuadro .local_link .glyphicon { font-size: 0.8em;}
.evento-detalle .cuadro p.direc { font-size: 1.1em; text-align: left;}
.evento-detalle .cuadro p.mapadirec {margin-bottom: 70px;}
.evento-detalle .cuadro p.pbigmap {margin-bottom: 30px;}
/*
.evento-detalle .cuadro .local { font-size: 1.5em; font-weight: bold; float:left;}
.evento-detalle .cuadro .ciudad { font-size: 1.5em; float: right;}
*/
.evento-detalle .cuadro h5 { margin-bottom: 0.8em; color: #1F5A77;}
.mapa-google { width: 100%; height: 18em; border:0; margin: 0 auto 1.5em;}

/* evento-detalle --- en EVENTO */



.lista-locales img {margin-top: 8px;}
/* lista eventos del LOCAL */
.eventoslocal h2 {
    margin: 8px 5px;
    margin-top: 20px;
    font-size: 1.4em;
}
/* lista eventos del LOCAL */



/* - - - - - - - - - - - - - */
/* COLORES DE LAS CATEGORIAS */

.cuadro h4, .cuadro h5 {font-weight: 600;}
.cuadro {
    background-color: #EBF0EF;
    color: #111; 
}
.cuadro .date {color: #111;}

/* ROJOS */
/*.cuadro.categ_1    {background-color: #EFEAEB;}*/
.cuadro.categ_1 h5 {color: #FEFBAF;} /*#E3DB1E*/
.cuadro.categ_1 h4 {color: #FEFBAF;}
.cuadro.categ_1 h5 a {color: #FEFBAF;}
.cuadro.categ_1 .date {
    background-color:#FEFBAF;
/*    border: 1px solid #EFEAEB;*/
}

/* VERDES */
/*.cuadro.categ_2    {background-color: #EAEFED;}*/
.cuadro.categ_2 h5 {color: #C2A34F;}
.cuadro.categ_2 h4 {color: #C2A34F;}
.cuadro.categ_2 h5 a {color: #C2A34F;}
.cuadro.categ_2 .date {
    background-color:#C2A34F;
/*    border: 1px solid #EAEFED;*/
}

/* AMARILLOS */
/*.cuadro.categ_3    {background-color: #EFEFEA;}*/
.cuadro.categ_3 h5 {color: #FBB829;}
.cuadro.categ_3 h4 {color: #FBB829;}
.cuadro.categ_3 h5 a {color: #FBB829;}
.cuadro.categ_3 .date {
    background-color:#FBB829;
/*    border: 1px solid #EFEFEA;*/
}

/* AZULES */
/*.cuadro.categ_5    {background-color: #EBF0EF;}*/
.cuadro.categ_5 h5 {color: #9CC451;}
.cuadro.categ_5 h4 {color: #9CC451;}
.cuadro.categ_5 h5 a {color: #9CC451;}
.cuadro.categ_5 .date {
    background-color:#9CC451;
/*    border: 1px solid #EBF0EF;*/
}

/* MORAOS */
/*.cuadro.categ_4    {background-color: #EDEAEF;}*/
.cuadro.categ_4 h5 {color: #27A877;}
.cuadro.categ_4 h4 {color: #27A877;}
.cuadro.categ_4 h5 a {color: #27A877;}
.cuadro.categ_4 .date {
    background-color:#27A877;
/*    border: 1px solid #EDEAEF;*/
}

/* NARANJAS */
/*.cuadro.categ_6    {background-color: #EFEDEA;}*/
.cuadro.categ_6 h5 {color: #049EB9;}
.cuadro.categ_6 h4 {color: #049EB9;}
.cuadro.categ_6 h5 a {color: #049EB9;}
.cuadro.categ_6 .date {
    background-color:#049EB9;
/*    border: 1px solid #EFEDEA;*/
}




/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* para móviles muy peques */
@media (max-width: 374px) {
    .head_sup h1 {
        font-size:1.1em;
    }
    .head_sup .fa {
        margin: 0;
        margin-right: 8px;
        margin-left: 8px;
        font-size: 1.3em;
    }
    
}

@media (min-width: 460px) {
    .guiaeventos .cuadro .date {
    /*    para que por arriba tenga espacio */
        padding: 1.7em 0;
    /*    para que tenga altura 100% */
        padding-bottom: 1000px; 
        margin-bottom: -997px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*body {font-size: 14px;}*/
    .fronttext h1 {font-size:3em;}
    .evento-detalle .cuadro .date span.hora {display:inline}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {font-size: 16px;}
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/* media-queries en altura para el mapa */
@media (min-height: 627px) {
    #eve-map-canvas {height: 200px;}
    #local-map-canvas {height: 200px;}
    #big-map-canvas {height:575px;}
}
@media (min-height: 736px) {
    #eve-map-canvas {height: 230px;}
    #local-map-canvas {height: 230px;}
    #big-map-canvas {height:685px;}
}
@media (min-height: 1024px) {
    #eve-map-canvas {height: 300px;}
    #local-map-canvas {height: 300px;}
    #big-map-canvas {height:974px;}
}
