@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600);

body {
    font-size: 14px; 
    font-weight:400; 
    line-height: 1.8; 
    font-family: 'Titillium Web', sans-serif;
/*  COLORES  background-color:#000;
    background-color:#808080;BADBEF*/
    background-color:#004158;
    color: #fff;
}

/*img {border-radius: 5px;}*/

h1,h2,h3,h4,h5,h6{ font-weight:normal; padding: 0; margin: 0; color: #fff;}
h1,h2,h3{ font-family: 'Titillium Web', sans-serif; text-transform: uppercase;}
h4,h5,h6{ font-family: 'Titillium Web', sans-serif; color: #004158;}


h3{font-size: 1.55em; margin-top: 1.56em; margin-bottom: 1.25em; color: #fff;}
h3 span{font-size: 1.5em;}
h4{font-size: 1.5em; margin-bottom:1.25em; line-height: 1.6;}
h5{font-size: 1.2em;}

small{color: #777;font-size: 0.8em;}
p{margin-bottom: 1.56em;}
blockquote {padding: 0 1.25em; margin: 0 0 1.25em; border-left: 5px solid #aaa; font-size: 0.87em; font-style: italic; font-family: 'Titillium Web', sans-serif;}

.spacer{padding:2em 0 0 0;}
.center{text-align: center;}
.thumbnail{ background-color:#fff;}

.overlay{z-index: 100;position: relative;}
.blockblack{background:rgba(0,0,0,0.75); border-radius: 10px; padding: 1.55em; padding-top: 0; }


/*color*/
.bgcolor{background-color: #004158;} 
.textcolor{color: #004158;}

a {color: #fff; text-decoration:none}
a:hover{color:#fff;text-decoration:none}
/*color*/

/* ********* */
/* APP MOVIL */
/* ********* */

/* header fijo en altura */
.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 95px;
    width: 100%;
    padding-top: 6px;

    color: #d8e1e5;
    background-color:#004158;
    border-bottom: solid 1px #00212c;
}
.header-50 {
    position: absolute;
    top: 0;
    left: 0;
    height: 53px;
    width: 100%;
    padding-top: 6px;
    /*    COLORES */
    color: #d8e1e5;
    background-color:#004158;
    border-bottom: solid 1px #00212c;
}

.wrapper-absolute-80 {
    position: absolute;
    top: 95px;
    bottom: 0;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.wrapper-absolute-50 {
    position: absolute;
    top: 53px;
    bottom: 0;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

/* fin header fijo */

/* estilos header */
/* head_sup */
.head_sup {
    text-align: center;
    height: 47px;
}
.head_sup img {
    margin: 0;
    /* posicion absoluta, centrado arriba sobre la imagen */
    position: absolute; top: 3px; margin-left: auto; margin-right: auto; left: 0; right: 0;
}

/* corregir aquí el tamaño de los iconos a 40px */
/* en pantallas con más iconos no poner logo completo */
.head_sup .fa {
    margin-right: 7px;
    margin-left: 7px;
    font-size: 35px;
    line-height: 40px;
    color: #d8e1e5;
}

.menu_drop {
    display: inline;
    text-align: right;
}
.menu_drop .dropdown-menu .fa {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 1.2em;
    color: #fff;
}

a.menu_salir {
    display: inline;
}

/* head_inf */
.header .head_inf {
    color: #fff;
}
.header .head_inf.favoritos {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    line-height: 40px;
    color: #fff;
}
.selec_container {
    background-color: #00212c;
    border: solid 1px #004158;
}
.dropdown.selec_drop {
    text-align: center;
}
.dropdown.selec_drop button.dropdown-toggle,
.dropdown.selec_drop button.dropdown-toggle:hover,
.dropdown.selec_drop button.dropdown-toggle:focus,
.dropdown.selec_drop button.dropdown-toggle:active,
.dropdown.selec_drop button.dropdown-toggle.active
{
    height: 40px;
    width: 100%;
    background-color: #00212c;
    color: #fff;
    border: none;
}

.dropdown-menu.ddm-right {
    left: -24px;
}
.dropdown.selec_drop .dropdown-menu > li > a {
    padding: 3px 0px;
}

/* comunes head_sup y head_inf */
.dropdown-menu {
    background-color: #004158;
    border: 1px solid #00212c;
}
.dropdown-menu .divider {
    background-color: #00212c;
}
.dropdown-menu > li > a {
    color: #fff;
    font-size: 1.2em;
    line-height: 2;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #00212c;
}
/* fin estilos header */



/* HOME */
.cargando_eventos {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.eventos_cargados {display: none;}

/* Preferencias */
.prefer {position: relative;}
.prefer .intro {margin-top: 15px;}
.prefer-lugares, .prefer-categorias {padding: 0;}
.prefer h5 {
    margin-top: 15px;
    background-color: #004158;
    color: #fff;
    padding: 12px;
}
.list-group {
    color: #fff;
}
.list-group-item {
    margin-bottom: 0px;
    border: none;
    border-bottom: solid 2px #004158;
}
.list-group-item:first-child, .list-group-item:last-child {border-radius: 0;}

.sel_cat .col-xs-2 {text-align: center;}
.ico-cat {border-right: solid 1px #004158;}
.sel_cat .fa-check, .sel_ciudad .fa-check {
    display: none;
    color: #000;
}
#cat1 {background-color: #459bd0;} /* azul - musica */
#cat2 {background-color: #45b192;} /* turquesa - espectaculos */
#cat3 {background-color: #9fb235;} /* verde - cursos */
#cat6 {background-color: #f6ac34;} /* amarillo - niños */
#cat4 {background-color: #988483;} /* marron - charlas */
#cat5 {background-color: #ea6e49;} /* rojo - deporte */
.sel_ciudad {background-color: #d8e1e5; color: #004158;}

/* Favoritos */
#cargando {
    display: none;
    text-align: center;
    margin-bottom: 50px;
    color: #00212c;
    z-index: -100;
}
#boton_guardar {z-index: 1000; position: relative;}




.btn-pella {
  color: #fff;
  background-color: #004158;
  border-color: #004158;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-pella:hover,
.btn-pella:focus,
.btn-pella:active,
.btn-pella.active,
.open .dropdown-toggle.btn-pella {
  color: #fff;
  background-color: #256c90;
  border-color: #004158;
}
.btn-pella:active,
.btn-pella.active,
.open .dropdown-toggle.btn-pella {
  background-image: none;
}
.btn-pella.disabled,
.btn-pella[disabled],
fieldset[disabled] .btn-pella,
.btn-pella.disabled:hover,
.btn-pella[disabled]:hover,
fieldset[disabled] .btn-pella:hover,
.btn-pella.disabled:focus,
.btn-pella[disabled]:focus,
fieldset[disabled] .btn-pella:focus,
.btn-pella.disabled:active,
.btn-pella[disabled]:active,
fieldset[disabled] .btn-pella:active,
.btn-pella.disabled.active,
.btn-pella[disabled].active,
fieldset[disabled] .btn-pella.active {
  background-color: #5195b7;
  border-color: #5195b7;
}
.btn-pella .badge {
  color: #256c90;
  background-color: #fff;
}

/*.btn-pella.link_web {
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 1.2em auto;
}*/

.link_bigmap {color: #000;}
#eve-map-canvas {
    width:100%; 
    height:150px;
    margin-bottom: 25px;
    border: solid 1px #000;
}
#local-map-canvas {
    width:100%; 
    height:150px;
    margin-bottom: 20px;
    border: solid 1px #000;
}
#big-map-canvas {
    width:100%; 
    height:430px;
    margin-bottom: 10px;
}
/* ocultar enlaces inferiores mapa */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.gm-style-cc { display:none; }



/* ************* */
/* FIN APP MOVIL */
/* ************* */


/* guiaeventos --- en HOME y LOCALES */

.guiaeventos .cuadro {
/*  COLORES  background-color: #222; 
    background-color: #EBF0EF;*/
    background-color: #FFF;
    color: #000;
    margin: 0 0.1em 3px;
    overflow: hidden;
    height: 90px;
}
.guiaeventos .cuadro .info {
    height: 100%;
}
/* h5: titulo evento */
.guiaeventos .cuadro h5 {margin: 0.3em 0; color: #000; font-weight: 600; letter-spacing: -0.2px; font-size: 1.05em; line-height: 1.3;}
.guiaeventos .cuadro .eventor-ciudad {position: absolute; bottom: 0; }
.guiaeventos .cuadro p {font-size: 1em; line-height: 1.3; margin: 0;}
.guiaeventos .cuadro p.nombre-eventor {font-weight: 700; font-style: italic; font-size: 0.95em;}
.guiaeventos .cuadro p.ciudad {margin-bottom: 0.7em;}

.guiaeventos .cuadro .date {
    text-align: center; 
    background-color:#fff;
    color: #000;
    height: 100%;
    /* para que tenga altura 100% */
    /*
    padding-bottom: 1000px; 
    margin-bottom: -1000px;*/
}
.guiaeventos .cuadro .date span { display: block; line-height: 1;}
.guiaeventos .cuadro .date span.ico-categ {position: absolute; top:2px; left: 2px; color: #fff;}
.guiaeventos .cuadro .date span.hoy { font-size: 2em; font-weight:900; line-height: 2.3;}
.guiaeventos .cuadro .date span.ndiafi { font-size: 2.2em; font-weight:900; line-height: 1;}
.guiaeventos .cuadro .date span.ndiaff { font-size: 2.2em; font-weight:900; line-height: 1; border-top: solid 1px #000;}
.guiaeventos .cuadro .date span.ndia { font-size: 2.4em; font-weight:900; line-height: 1;}
.guiaeventos .cuadro .date span.mes { font-size: 0.7em; text-transform:uppercase; margin-bottom: 0.3em; }
.guiaeventos .cuadro .date span.diasemana { font-size: 1em; border-top: solid 1px #000; padding-top: 0.1em;}
.guiaeventos .cuadro .date span.hora {font-size: 0.9em; color: #fff; padding: 0.4em 0;  width: 100%; background-color: #000;
                                        position: absolute; bottom: 0; left: 0;}

.guiaeventos .cuadro .imagen {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    /* para el ajuste de la imagen */
    height: 100%;
    overflow: hidden;
}
.guiaeventos .cuadro .imagen img {
    /* ajusta la imagen - no funciona en movil */
    /*width: 100%; height: 100%; object-fit: cover;*/

    /* otra opcion para ajustar la imagen*/
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    margin: auto; 
/*  para ajuste al ancho: img = alto > ancho
    width: 100%;
    height: auto;*/
/*  para ajuste al alto: img = alto < ancho */
    height: 100%;    
    width: auto;

}
/* campana de notificacion */
.notif.fa-exclamation-circle {
    display: none;
    position: absolute;
    bottom: 2px;
    right: 5px;
    padding: 5px;
    color: #004158;
    font-size: 1.1em;
}


/* titulo local en lista locales */
.guiaeventos h4 { 
    margin: 0.2em 0;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #004158;
    letter-spacing: -0.3px;
    line-height: 1.1;
    color: #004158;
}
.cuadro .fa-map-marker {color: #004158;}
.cuadro .fa-phone {color: #004158;}
.lista-locales .cuadro p.ciudad {margin-bottom: 1em;}
.lista-locales .cuadro .imagen {background-color: #00212c;}

/* fin guiaeventos --- en HOME y LOCALES */


/* evento-detalle --- en EVENTO */
.evento-detalle .cuadro {background-color: #fff; }

.evento-detalle .cuadro .titulo-imagen {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0;
}
.evento-detalle .cuadro h4 {
    margin: 0;
    /* posicion absoluta, centrado arriba sobre la imagen */
    position: absolute; top: 0; margin-left: auto; margin-right: auto; left: 0; right: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    color: #fff; 
    font-size: 1.8em; letter-spacing: -1px; line-height: 1.1;
    /* gradiente en background */
    background: rgba(0, 0, 0, 0.7); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7),rgba(0,0,0,0.5),rgba(0,0,0,0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7),rgba(0,0,0,0.5),rgba(0,0,0,0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7),rgba(0,0,0,0.5),rgba(0,0,0,0));  /*Fx 3.6-15*/
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7),rgba(0,0,0,0.5),rgba(0,0,0,0));  /*Standard*/
}

/* fecha */
.evento-detalle .cuadro .date {text-align: center; color: #000; padding: 0; margin-bottom: 0.5em; position: relative;}
.evento-detalle .cuadro .date span.ico-categ {display: block; position: absolute; top: 0px; left: 15px; font-size: 1.3em; line-height: 2.1; color: #fff;}
.evento-detalle .cuadro .date span.ndia {display: block; font-size: 2.2em; font-weight: 700; line-height: 1.3; text-transform: uppercase;}
.evento-detalle .cuadro .date span.ndiafin {display: block; font-size: 2.2em; font-weight: 700; line-height: 1.3; text-transform: uppercase; border-top: solid 1px #000;}
.evento-detalle .cuadro .date span.hora {display: block; font-size: 1.2em; line-height: 1.8; color: #fff;}

/* organizador y localidad */
.evento-detalle .cuadro p {margin: 0 0 0.6em; font-size: 1em; line-height: 1; }
.evento-detalle .cuadro p.nombre-eventor { font-size: 1em; font-weight: 700; font-style: italic;}
.evento-detalle .cuadro p.ciudad { font-size: 1em;}

/* datos-evento: horario y precio */
.evento-detalle .cuadro .datos-evento p {font-size: 0.8em; text-align: right;}
.evento-detalle .cuadro .datos-evento-grande p {font-size: 1em; text-align: right;}

/* descripcion del evento */
.evento-detalle .cuadro .descr-evento { margin: 1.2em 0; text-align: justify; font-size: 1em;}
.evento-detalle .cuadro .descr-evento p {line-height: 1.4; text-align: justify;}
.evento-detalle .cuadro .descr-evento a.link_web {margin: 1.3em auto; color: #004158; font-size: 1.1em; font-weight: 700;}

/* direccion y mapa del evento */
.evento-detalle .cuadro .direccion-evento {background-color: #f2f2f2; margin-top: 25px;}
.evento-detalle .cuadro p.direcc { font-size: 1.1em; text-align: right; padding-top: 1em;}
.evento-detalle .cuadro span.calle {float: left; line-height: 1.8; text-align: left;}
.evento-detalle .cuadro span.fullscreen {font-size: 1.8em; line-height: 1;}

/* mapa en fullscreen */
.evento-detalle .cuadro p.mapadirec {margin-bottom: 70px;}

/* enlace al organizador */
.evento-detalle .cuadro .organizador-evento {background-color: #9e9e9e;}
.evento-detalle .cuadro .local_link {color: #fff; width: 100%; text-align: center; font-size: 1em; padding: 0.8em 0;}
.evento-detalle .cuadro .local_link .icono {float: left;}
.evento-detalle .cuadro .local_link .nombre-local {font-weight: bold;}


/* PANTALLA LOCAL (comparte estilos con EVENTO) */
.localDetails {width: 100%;}
.evento-detalle .cuadro .detalle-local {background-color: #004158; color: #fff; margin-bottom: 0.6em;} /* cuadro con color de fondo */
.evento-detalle .cuadro .horario-local { font-size: 0.9em; line-height: 1.65; margin: 0.7em 0;}
.evento-detalle .cuadro .tlf-local { text-align: right;}

/* lista eventos del LOCAL */
.eventoslocal h2 {
    margin: 24px 12px 12px;
    font-size: 1.6em;
    text-align: center;
}

/*.mapa-google { width: 100%; height: 18em; border:0; margin: 0 auto 1.5em;}*/

/* fin - evento-detalle --- en EVENTO */

/* sobreescribe bootstrap */
.img-responsive {width: 100%;}




/* +++++++++++++++++++++++++++++++ */
/*    COLORES DE LAS CATEGORIAS    */
/* +++++++++++++++++++++++++++++++ */

.cuadro h4, .cuadro h5 {font-weight: 600;}
.cuadro {
    background-color: #EBF0EF; 
    color: #000; 
}
.cuadro .date {color: #000;}

/* AZULES - musica */
.cuadro.categ_1 h5 {color: #459bd0;}
.cuadro.categ_1 h4 {color: #459bd0;}
.cuadro.categ_1 h5 a {color: #459bd0;}
.cuadro.categ_1 .date {
    background-color:#459bd0;
}
.cuadro.categ_1 .btn-pella.link_web {color:#000; background-color:#459bd0; border-color: #459bd0;}
.cuadro.categ_1 .fa-map-marker {color: #459bd0;}
.cuadro.categ_1 .date span.hora {background-color: #295d7d;}
.cuadro.categ_1 .descr-evento a.link_web {color: #459bd0;}
.cuadro.categ_1 .imagen {background-color: #459bd0;}
.cuadro.categ_1 .notif.fa-exclamation-circle {color: #459bd0};

/* TURQUESAS - espectaculos */
.cuadro.categ_2 h5 {color: #45b192;}
.cuadro.categ_2 h4 {color: #45b192;}
.cuadro.categ_2 h5 a {color: #45b192;}
.cuadro.categ_2 .date {
    background-color:#45b192;
}
.cuadro.categ_2 .btn-pella.link_web {color:#000; background-color:#45b192; border-color: #45b192;}
.cuadro.categ_2 .fa-map-marker {color: #45b192;}
.cuadro.categ_2 .date span.hora {background-color: #296a58;}
.cuadro.categ_2 .descr-evento a.link_web {color: #45b192;}
.cuadro.categ_2 .imagen {background-color: #45b192;}
.cuadro.categ_2 .notif.fa-exclamation-circle {color: #45b192};

/* VERDES - cursos */
.cuadro.categ_3 h5 {color: #9fb235;}
.cuadro.categ_3 h4 {color: #9fb235;}
.cuadro.categ_3 h5 a {color: #9fb235;}
.cuadro.categ_3 .date {
    background-color:#9fb235;
}
.cuadro.categ_3 .btn-pella.link_web {color:#000; background-color:#9fb235; border-color: #9fb235;}
.cuadro.categ_3 .fa-map-marker {color: #9fb235;}
.cuadro.categ_3 .date span.hora {background-color: #5f6b20;}
.cuadro.categ_3 .descr-evento a.link_web {color: #9fb235;}
.cuadro.categ_3 .imagen {background-color: #9fb235;}
.cuadro.categ_3 .notif.fa-exclamation-circle {color: #9fb235};

/* AMARILLOS - niños */
.cuadro.categ_6 h5 {color: #f6ac34;}
.cuadro.categ_6 h4 {color: #f6ac34;}
.cuadro.categ_6 h5 a {color: #f6ac34;}
.cuadro.categ_6 .date {
    background-color:#f6ac34;
}
.cuadro.categ_6 .btn-pella.link_web {color:#000; background-color:#f6ac34; border-color: #f6ac34;}
.cuadro.categ_6 .fa-map-marker {color: #f6ac34;}
.cuadro.categ_6 .date span.hora {background-color: #94671f;}
.cuadro.categ_6 .descr-evento a.link_web {color: #f6ac34;}
.cuadro.categ_6 .imagen {background-color: #f6ac34;}
.cuadro.categ_6 .notif.fa-exclamation-circle {color: #f6ac34};

/* MARRONES - charlas */
.cuadro.categ_4 h5 {color: #988483;}
.cuadro.categ_4 h4 {color: #988483;}
.cuadro.categ_4 h5 a {color: #988483;}
.cuadro.categ_4 .date {
    background-color:#988483;
}
.cuadro.categ_4 .btn-pella.link_web {color:#000; background-color:#988483; border-color: #988483;}
.cuadro.categ_4 .fa-map-marker {color: #988483;}
.cuadro.categ_4 .date span.hora {background-color: #5b4f4f;}
.cuadro.categ_4 .descr-evento a.link_web {color: #988483;}
.cuadro.categ_4 .imagen {background-color: #988483;}
.cuadro.categ_4 .notif.fa-exclamation-circle {color: #988483};

/* ROJOS - deporte */
.cuadro.categ_5 h5 {color: #ea6e49;} /*#E3DB1E*/
.cuadro.categ_5 h4 {color: #ea6e49;}
.cuadro.categ_5 h5 a {color: #ea6e49;}
.cuadro.categ_5 .date {
    background-color:#ea6e49;
}
.cuadro.categ_5 .btn-pella.link_web {color:#000; background-color:#ea6e49; border-color: #ea6e49;}
.cuadro.categ_5 .fa-map-marker {color: #ea6e49;}
.cuadro.categ_5 .date span.hora {background-color: #8c422c;}
.cuadro.categ_5 .descr-evento a.link_web {color: #ea6e49;}
.cuadro.categ_5 .imagen {background-color: #ea6e49;}
.cuadro.categ_5 .notif.fa-exclamation-circle {color: #ea6e49};

/* excepciones de color */
.evento-detalle .cuadro h4 {color: #fff;}



/* ++++++++++++++++++++++++++++++++++++++ */
/*     MEDIA QUERIES                      */
/* ++++++++++++++++++++++++++++++++++++++ */

/* MEDIA QUERIES EN ALTURA para el mapa */
@media (min-height: 627px) {
    #eve-map-canvas {height: 200px;}
    #local-map-canvas {height: 200px;}
    #big-map-canvas {height:575px;}
}
@media (min-height: 736px) {
    #eve-map-canvas {height: 230px;}
    #local-map-canvas {height: 230px;}
    #big-map-canvas {height:685px;}
}
@media (min-height: 1024px) {
    #eve-map-canvas {height: 300px;}
    #local-map-canvas {height: 300px;}
    #big-map-canvas {height:974px;}
}


/* MEDIA QUERIES EN ANCHO */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* para móviles muy peques */
@media (max-width: 374px) {
    .head_sup h1 {
        font-size:1.1em;
    }
/*
    .head_sup .fa {
        margin: 0;
        margin-right: 8px;
        margin-left: 8px;
        font-size: 1.3em;
    }
*/
    
}

@media (min-width: 412px) {
    /* en inicio */
    /* altura fija del cuadro + ajustes fuentes */
    .guiaeventos .cuadro {height: 105px;}
    .guiaeventos .cuadro .date span.ndia, .guiaeventos .cuadro .date span.hoy {margin-top: 8px;}
    .guiaeventos .cuadro .date span.ndiafi, .guiaeventos .cuadro .date span.ndiaff {margin-top: 5px}
    .guiaeventos .cuadro .info {font-size: 1.1em;}
    .guiaeventos .cuadro h5 {font-size: 1.3em;}
    
    /* en evento */
    .evento-detalle .cuadro .datos-evento p {font-size: 1em;}
}

@media (min-width: 600px) {
    /* en inicio */
    /* altura fija del cuadro + ajustes fuentes */
    .guiaeventos .cuadro {height: 150px;}
    .guiaeventos .cuadro .date {font-size: 1.4em;}
    .guiaeventos .cuadro .date span.ndia, .guiaeventos .cuadro .date span.hoy, .guiaeventos .cuadro .date span.ndiafi, .guiaeventos .cuadro .date span.ndiaff {margin-top: 10px;}
    .guiaeventos .cuadro .info {font-size: 1.4em;}
    
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {font-size: 18px;}
    
    /* en inicio */
    /* altura fija del cuadro */
    .guiaeventos .cuadro {height: 190px;}
    /* resto igual que 600px */
    .guiaeventos .cuadro .date span.ico-categ {position: absolute; top: 7px; left: 8px; }
    
    /* en evento */
    .evento-detalle .cuadro .datos-evento p {font-size: 0.8em;}
    .evento-detalle .cuadro .descr-evento {padding-left: 1em;}
    #eve-map-canvas {height: 300px;}
    #local-map-canvas {height: 300px;}
    
    /* preferencias */
    .prefer-lugares, .prefer-categorias {padding: 12px;}
    
    .fronttext h1 {font-size:3em;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* en inicio */
    /* altura fija del cuadro + ajustes fuentes */
    .guiaeventos .cuadro {height: 250px;}
    .guiaeventos .cuadro .date {font-size: 2em;}
    .guiaeventos .cuadro .date span.ndia, .guiaeventos .cuadro .date span.hoy, .guiaeventos .cuadro .date span.ndiafi, .guiaeventos .cuadro .date span.ndiaff {margin-top: 10px;}
    .guiaeventos .cuadro .info {font-size: 2em;}    
    
    /* en evento */
    .evento-detalle .cuadro .datos-evento p {font-size: 1em;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* en inicio */
    /* altura fija del cuadro + ajustes fuentes */
    .guiaeventos .cuadro {height: 320px;}
    .guiaeventos .cuadro .date {font-size: 2.3em;}
    .guiaeventos .cuadro .date span.ndia, .guiaeventos .cuadro .date span.hoy {margin-top: 25px;}
    .guiaeventos .cuadro .date span.ndiafi, .guiaeventos .cuadro .date span.ndiaff {margin-top: 18px;}
    .guiaeventos .cuadro .info {font-size: 2.3em;}        
}